<div class="container">
  <div class="shadow">
    <div class="edge"></div>
  </div>
  <div class="wrapper">
    <div class="section-header">
      <h2>{{ "CONTACT.CONTACT" | translate }}</h2>
      <h3>{{ "CONTACT.CONTACT_WITH_ME" | translate }}</h3>
    </div>
    <form [formGroup]="messageForm" action="">
      <div class="email">
        <label for="email">{{ "CONTACT.EMAIL" | translate }}</label>
        <input
          id="email"
          type="text"
          formControlName="email"
          [placeholder]="'CONTACT.EMAIL' | translate"
        />
      </div>
      <div class="name">
        <label for="name"> {{ "CONTACT.NAME" | translate }} </label>
        <input
          id="name"
          type="text"
          formControlName="name"
          [placeholder]="'CONTACT.NAME' | translate"
        />
      </div>
      <div class="body">
        <label for="body">{{ "CONTACT.BODY" | translate }}</label>
        <textarea
          name=""
          id="body"
          cols="30"
          rows="10"
          formControlName="message"
          [placeholder]="'CONTACT.BODY' | translate"
        ></textarea>
      </div>
      <app-button
        (click)="sendEmail()"
        type="basic"
        [text]="'CONTACT.SEND' | translate"
      ></app-button>
    </form>
  </div>
</div>
