@import "../../../assets/variables.scss";
@import "../../../assets/responsive.mixin.scss";

.container {
  background-color: $primary-green;
  color: white;
  z-index: 2;
  position: relative;
  overflow: hidden;
  z-index: 120;
  .hamburger-wrapper {
    width: 100%;
    height: 900px;
    position: absolute;
    clip: rect(0, auto, auto, 0);

    .hamburger {
      .line {
        background-color: $light;
      }
      &.expanded {
        .line {
          background-color: $primary-green !important;
        }
      }
    }
  }

  .wrapper {
    width: 14vw;
    height: 1px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    .tunnel {
      position: absolute;
      height: 1300px;
      right: 0;
      top: 0;
      width: 125px;
      margin-right: 0;
      margin-left: auto;
      background-color: $secondary-green;
    }
  }

  .content {
    display: inline-block;
    vertical-align: top;
    width: 85vw;
    padding-bottom: 60px;

    .about-me {
      padding: 0 10vw;
    }

    .skills {
      margin-top: 50px;
      text-align: center;
    }

    .box-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 550px;
      align-items: flex-end;

      .box {
        color: black;
        background-color: $light;
        width: 345px;
        height: 500px;
        margin: 0 20px;
        border-radius: 40px;
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25);
        position: relative;

        h3 {
          margin-top: 25px;
          margin-bottom: 25px;
        }

        &.mini {
          position: absolute;
          bottom: 0;
          height: 300px;
        }

        .icon {
          position: absolute;

          &.html {
            top: 24%;
            left: 13%;
          }

          &.angular {
            top: 30%;
            right: 17%;
          }

          &.sass {
            top: 45%;
            left: 40%;
          }

          &.js {
            top: 65%;
            left: 20%;
          }

          &.ts {
            top: 75%;
            right: 25%;
          }

          &.java {
            top: 23%;
            right: 13%;
          }

          &.spring {
            top: 27%;
            left: 30%;
          }

          &.mysql {
            top: 49%;
            left: 13%;
          }

          &.postgresql {
            top: 49%;
            right: 28%;
          }

          &.hibernate {
            top: 73%;
            right: 50%;
          }

          &.vsc {
            top: 35%;
            left: 10%;
          }

          &.photoshop {
            top: 38%;
            right: 13%;
          }

          &.git {
            top: 30%;
            left: 40%;
          }

          &.figma {
            top: 70%;
            left: 20%;
          }

          &.idea {
            top: 67%;
          }
        }
      }

      .mini-box-wrapper {
        width: 600px;
        height: 500px;
        position: relative;

        .person-walking {
          position: absolute;
          top: -7.5%;
          left: 15%;
        }
        .person-jumping {
          position: absolute;
          top: 50%;
          right: 0;
        }
      }
    }
  }
}

@include media("<=1610px") {
  .box-wrapper {
    .mini-box-wrapper {
      width: 350px !important;

      .person-jumping {
        display: none;
      }
    }
  }
}

@include media("<=medium-desktop") {
  .hello {
    margin-left: 25px;
  }
}

@include media("<=1380px") {
  .box-wrapper {
    height: 500px !important;
    .box {
      width: 300px !important;
      height: 450px !important;
      margin: 0 15px !important;

      &.mini {
        height: 240px !important;
      }
    }

    .mini-box-wrapper {
      height: 450px !important;

      .person-walking {
        top: -5% !important;
      }
    }
  }
}

@include media("<=desktop") {
  .content {
    padding-bottom: 300px !important;
    .box-wrapper {
      margin-top: 60px;
      .box {
        margin: 0 20px !important;
      }

      .mini-box-wrapper {
        margin-top: 40px !important;
        height: 240px !important;
        width: 680px !important;

        .person-walking {
          display: none;
        }

        .person-jumping {
          display: inline-block;
          top: 5% !important;
          right: 5% !important;
        }
      }
    }
  }
}

@include media("<=1200px") {
  .content {
    margin-top: 10px;
  }
}

@include media("<=1100px") {
  .wrapper {
    display: none !important;
  }

  .content {
    width: 100vw !important;
  }

  .hello {
    margin-left: 40px;
  }
}

@include media("<=678px") {
  .content {
    padding-bottom: 0 !important;
    .box-wrapper {
      margin-top: 30px;
      .box {
        margin: 20px 40px !important;
      }

      .mini-box-wrapper {
        width: 300px !important;
        .box {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        .person-jumping {
          left: 50%;
          transform: translateX(-50%) scale(0.8);
          bottom: -95% !important;
          top: auto !important;
        }
      }
    }

    .skills {
      height: 1600px !important;
    }
  }
}
