<div class="container" #container>
  <div class="hamburger-wrapper" #hamburgerWrapper>
    <div
      (click)="toggleNavbar()"
      [ngClass]="showNavbar ? 'expanded' : ''"
      class="hamburger"
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <app-navbar [style]="'white'" class="navbar"></app-navbar>
  </div>

  <div class="wrapper">
    <div class="tunnel"></div>
  </div>

  <div class="content">
    <div class="about-me">
      <h2 class="hello">{{ "ABOUT_ME.HELLO" | translate }}</h2>
      <p class="description">{{ "ABOUT_ME.TEXT" | translate }}</p>
    </div>

    <div class="skills">
      <h2 class="my-skills" #mySkillHeader>
        {{ "ABOUT_ME.MY_SKILLS" | translate }}
      </h2>
      <div [@boxWrapper]="boxAnimation" class="box-wrapper">
        <div [@boxSlideIn]="boxAnimation" class="box frontend">
          <h3>{{ "ABOUT_ME.FRONTEND" | translate }}</h3>
          <app-skill
            *ngFor="let skill of frontendSkills"
            [skill]="skill"
            [class]="'icon ' + skill.fileName"
          ></app-skill>
        </div>
        <div [@boxSlideIn]="boxAnimation" class="box backend">
          <h3>{{ "ABOUT_ME.BACKEND" | translate }}</h3>
          <app-skill
            *ngFor="let skill of backendSkills"
            [skill]="skill"
            [class]="'icon ' + skill.fileName"
          ></app-skill>
        </div>
        <div [@boxSlideIn]="boxAnimation" class="mini-box-wrapper">
          <div class="box mini other">
            <h3>{{ "ABOUT_ME.OTHER" | translate }}</h3>
            <app-skill
              *ngFor="let skill of otherSkills"
              [skill]="skill"
              [class]="'icon ' + skill.fileName"
            ></app-skill>
          </div>
          <img
            class="person-walking"
            src="assets/icons/person-walking.svg"
            alt=""
          />
          <img
            src="assets/icons/person-jumping.svg"
            alt=""
            class="person-jumping"
          />
        </div>
      </div>
    </div>
  </div>
</div>
