<div class="container">
  <div class="shadow">
    <div class="wrapper">
      <h2>{{ "PORTFOLIO.PORTFOLIO" | translate }}</h2>
      <h3>{{ "PORTFOLIO.MY_PROJECTS" | translate }}</h3>

      <div class="button-wrapper">
        <app-button
          [type]="selectedPortfolio === 'applications' ? 'disable' : 'basic'"
          [text]="'PORTFOLIO.APPLICATIONS' | translate"
          class="button apps"
          (click)="changePortfolio('applications')"
        ></app-button>
        <app-button
          [type]="selectedPortfolio === 'graphics' ? 'disable' : 'basic'"
          [text]="'PORTFOLIO.GRAPHICS' | translate"
          class="button graphs"
          (click)="changePortfolio('graphics')"
        ></app-button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedPortfolio === 'applications'" class="applications">
    <app-application
      title="Labirynth"
      [stack]="['js', 'css', 'html']"
      videoFileName="screens/screen.png"
      description="Phasellus consequat facilisis felis sed gravida. Mauris volutpat eros quis nunc aliquam commodo sit amet"
      class="item"
    ></app-application>
    <app-application
      title="Labirynth"
      [stack]="['js', 'css', 'html']"
      videoFileName="screens/screen.png"
      description="Phasellus consequat facilisis felis sed gravida. Mauris volutpat eros quis nunc aliquam commodo sit amet"
      class="item"
    ></app-application>
    <app-application
      title="Labirynth"
      [stack]="['js', 'css', 'html']"
      videoFileName="screens/screen.png"
      description="Phasellus consequat facilisis felis sed gravida. Mauris volutpat eros quis nunc aliquam commodo sit amet"
      class="item"
    ></app-application>
    <app-application
      title="Labirynth"
      [stack]="['js', 'css', 'html']"
      videoFileName="screens/screen.png"
      description="Phasellus consequat facilisis felis sed gravida. Mauris volutpat eros quis nunc aliquam commodo sit amet"
      class="item"
    ></app-application>
    <app-application
      title="Labirynth"
      [stack]="['js', 'css', 'html']"
      videoFileName="screens/screen.png"
      description="Phasellus consequat facilisis felis sed gravida. Mauris volutpat eros quis nunc aliquam commodo sit amet"
      class="item"
    ></app-application>
    <app-application
      title="Labirynth"
      [stack]="['js', 'css', 'html']"
      videoFileName="screens/screen.png"
      description="Phasellus consequat facilisis felis sed gravida. Mauris volutpat eros quis nunc aliquam commodo sit amet"
      class="item"
    ></app-application>
  </div>

  <div *ngIf="selectedPortfolio === 'graphics'" class="graphics"></div>
</div>
