@import "../../../assets/variables.scss";
@import "../../../assets/responsive.mixin.scss";

.container {
  background-color: $primary-green;
  color: $light;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 0.7em !important;
  }
}

@include media(">big-desktop") {
  .container {
    height: 160px !important;
  }
}
