@import "../../../assets/variables.scss";
@import "../../../assets/responsive.mixin.scss";

.container {
  padding: 100px 100px 20px 20px;
  position: fixed;
  top: -400px;
  right: -410px;
  z-index: 50;
  transition: all 0.3s ease;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  a {
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      bottom: 0.2em;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0;
      background: $light;
      transition: width 0.3s ease;
    }

    &:hover {
      cursor: pointer;

      &::after {
        width: 100%;
      }
    }
  }

  &.expanded {
    right: -100px !important;
    top: -100px !important;
  }

  &.green {
    background-color: rgba(108, 174, 0, 1);
    a {
      color: $light;
    }
  }

  &.white {
    background-color: $light;
    a {
      color: $primary-green;

      &::after {
        background-color: $primary-green;
      }
    }
  }
}

.hamburger {
  position: relative;
  width: 40px;
  height: 22px;
  transition: transform 0.3s ease;
  z-index: 110 !important;
  position: fixed;
  top: 25px;
  right: 20px;

  .line {
    position: absolute;
    width: 100%;
    height: 18.18%;
    background-color: $primary-green;
    transform: translateY(-50%);
    top: 0;
    border-radius: 2px;
    transition: all 0.3s ease;

    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 50%;
    }
    &:nth-of-type(3) {
      top: 100%;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5%);
    // margin-top: -2%;

    .line {
      &:nth-of-type(1) {
        transform: rotate(3deg);
      }

      &:nth-of-type(2) {
        transform: translateY(5%);
      }

      &:nth-of-type(3) {
        transform: rotate(-3deg);
      }
    }
  }

  &.white {
    .line {
      background-color: $light;
    }
    &.expanded {
      .line {
        background-color: $primary-green !important;
      }
    }
  }

  &.expanded {
    .line {
      background-color: $light !important;
      &:nth-of-type(1) {
        transform: translateY(260%) rotate(45deg);
      }

      &:nth-of-type(2) {
        transform: translate(170%, 5%);
      }

      &:nth-of-type(3) {
        transform: translateY(-260%) rotate(-45deg);
      }
    }
  }
}

@include media(">big-desktop") {
  .container {
    width: 420px !important;
    height: 420px !important;
    top: -460px !important;
    right: -460px !important;
  }

  .hamburger {
    width: 55px !important;
    height: 30px !important;
    top: 32.5px !important;
    right: 30px !important;
  }
}

@include media(">4k-desktop") {
  .container {
    width: 560px !important;
    height: 560px !important;
    top: -580px !important;
    right: -580px !important;
  }

  .hamburger {
    width: 70px !important;
    height: 40px !important;
    top: 32.5px !important;
    right: 30px !important;

    .line {
      border-radius: 15px !important;
    }
  }
}
