<div class="container" #container>
  <div class="wrapper">
    <div class="top-bar">
      <div class="info">
        <h4>{{ graphic.title }}</h4>
      </div>
      <div class="buttons">
        <app-button
          type="portfolio"
          text="{{ 'PORTFOLIO.SEE' | translate }}"
          class="button"
        ></app-button>
      </div>
    </div>

    <div class="image">
      <div class="description">
        <p>{{ graphic.description }}</p>
      </div>
      <img [src]="'assets/screens/' + graphic.photoFileName" alt="" />
    </div>
  </div>
</div>
