@import "../../../assets/variables.scss";
@import "../../../assets/responsive.mixin.scss";

$header-width: 172px;
$header-height: 50px;

$basic-width: 250px;
$basic-height: 50px;

$portfolio-width: 107px;
$portfolio-height: 40px;

.container {
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  &.header {
    width: $header-width;
    height: $header-height;
    p {
      width: $header-width;
      line-height: $header-height;
    }
  }

  &.basic {
    width: $basic-width;
    height: $basic-height;
    p {
      width: $basic-width;
      line-height: $basic-height;
    }
  }

  &.portfolio,
  &.portfolio-secondary {
    width: $portfolio-width;
    height: $portfolio-height;
    p {
      width: $portfolio-width;
      line-height: $portfolio-height;
    }
  }

  .primary,
  .secondary {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: all 0.3s ease;

    p {
      text-align: center;
      transition: all 0.3s ease;
    }
  }

  &.basic.right {
    .primary,
    .secondary {
      left: auto;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  .primary {
    background-color: $primary-green;
    color: white;
  }

  .secondary {
    background-color: $light;
    box-shadow: inset 5px 5px 10px rgb(0 0 0 / 25%);
    color: $dark;
    p {
      transform: scale(0);
    }
  }

  &.disable {
    .primary {
      left: -50%;
      background-color: $light;
      color: $dark;

      p {
        margin-left: 100%;
      }
    }

    .secondary {
      p {
        transform: scale(1);
        margin-left: 100%;
      }
    }

    &.basic.right {
      .primary {
        left: auto;
        right: -50%;

        p {
          margin-left: -100%;
        }
      }

      .secondary {
        p {
          margin-left: -100%;
        }
      }
    }

    &:hover {
      cursor: default;

      .primary {
        left: -50%;
        background-color: $light;
        color: $dark;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .primary {
      left: -50%;
    }

    .secondary {
      p {
        transform: scale(1);
      }
    }

    &.basic.right {
      .primary {
        left: auto;
        right: -50%;
      }
    }

    &.portfolio,
    &.portfolio-secondary {
      .primary {
        left: 50%;
        top: -50%;
      }
    }
  }
}

@include media(">=big-desktop") {
  .basic,
  .header,
  .disable {
    width: 240px !important;
    height: 80px !important;
    p {
      width: 240px !important;
      line-height: 80px !important;
    }
  }

  .button,
  .under-button {
    border-radius: 40px !important;
  }
}

@include media("<=medium-desktop") {
  .basic,
  .header,
  .disable {
    width: 152px !important;
    height: 45px !important;
    p {
      width: 152px !important;
      line-height: 45px !important;
    }
  }
}

@include media("<=phone") {
  .portfolio,
  .portfolio-secondary {
    width: 83px !important;
    height: 35px !important;

    p {
      width: 83px !important;
      line-height: 35px !important;
    }
  }
}
