@import "./assets/variables.scss";
@import "./assets/responsive.mixin.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 200;
}

h2 {
  font-weight: 900;
  font-size: 50px;
}

h1 {
  font-weight: 900;
  font-size: 150px;
}

.section-header {
  h2 {
    padding-top: 65px;
    margin-bottom: -17px;
  }

  h3 {
    padding-bottom: 35px;
  }
}

label,
input,
textarea {
  display: block;
  width: calc(100% - 40px);
}

label {
  padding-left: 20px;
}

input,
textarea {
  border-radius: 40px;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  outline: none;
  resize: none;

  &::placeholder {
    position: relative;
    top: 0;
    transition: top 0.3s ease;
  }

  &:focus {
    &::placeholder {
      top: -50px;
    }
  }
}

textarea {
  padding: 20px;
}

@include media(">=big-desktop") {
  * {
    font-size: 37px !important;
  }

  h2 {
    font-size: 73px !important;
  }

  h1 {
    font-size: 220px !important;
  }

  .hamburger {
    width: 52px !important;
    height: 28px !important;
  }
}

@include media("<=medium-desktop") {
  * {
    font-size: 22px;
  }

  h2 {
    font-size: 42px;
  }

  h1 {
    font-size: 125px;
  }
}

@include media("<=desktop") {
  * {
    font-size: 20px;
  }

  h2 {
    font-size: 33px;
  }

  h1 {
    font-size: 100px;
  }

  .hamburger {
    width: 30px !important;
    height: 18px !important;
  }
}

@include media("<=tablet") {
  .hamburger {
    &:hover {
      cursor: pointer;
      transform: none !important;

      .line {
        &:nth-of-type(1) {
          transform: none !important;
        }

        &:nth-of-type(2) {
          transform: none !important;
        }

        &:nth-of-type(3) {
          transform: none !important;
        }
      }
    }
    &.expanded {
      .line {
        &:nth-of-type(1) {
          transform: translateY(260%) rotate(45deg) !important;
        }

        &:nth-of-type(2) {
          transform: translate(170%, 5%) !important;
        }

        &:nth-of-type(3) {
          transform: translateY(-260%) rotate(-45deg) !important;
        }
      }
    }
  }
}

@include media("<=phone") {
  * {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 80px;
  }

  .section-header {
    h2 {
      padding-top: 30px;
      margin-bottom: -10px !important;
    }
  }
}
