@import "./assets/variables.scss";
@import "./assets/responsive.mixin.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 200;
}

h2 {
  font-weight: 900;
  font-size: 50px;
}

h1 {
  font-weight: 900;
  font-size: 150px;
}

.section-header {
  h2 {
    padding-top: 65px;
    margin-bottom: -17px;
  }

  h3 {
    padding-bottom: 35px;
  }
}

label,
input,
textarea {
  display: block;
  width: calc(100% - 40px);
}

label {
  padding-left: 20px;
}

input,
textarea {
  border-radius: 40px;
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  outline: none;
  resize: none;
}

textarea {
  padding: 20px;
}

@include media(">=big-desktop") {
  * {
    font-size: 37px !important;
  }

  h2 {
    font-size: 73px !important;
  }

  h1 {
    font-size: 220px !important;
  }
}

@include media("<=medium-desktop") {
  * {
    font-size: 22px;
  }

  h2 {
    font-size: 42px;
  }

  h1 {
    font-size: 125px;
  }
}

@include media("<=desktop") {
  * {
    font-size: 20px;
  }

  h2 {
    font-size: 33px;
  }

  h1 {
    font-size: 100px;
  }
}

@include media("<=phone") {
  * {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }

  h1 {
    font-size: 80px;
  }

  .section-header {
    h2 {
      padding-top: 30px;
      margin-bottom: -10px !important;
    }
  }
}
